#app {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-big);
  height: 100vh;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  border: 1px solid red;
  margin-inline: var(--spacing-max);
  margin-bottom: var(--spacing-big);
  gap: var(--spacing-max);
}

.container>* {
  min-height: 0;
}
