#app {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin-inline: var(--spacing-max);
  min-height: 0;
  height: 100%;
}

.recording-layout {
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  min-height: 0;
  gap: var(--spacing-max);
}

.recording-layout > * {
  min-height: 0;
  min-width: 0;
}

.ip {
  margin-bottom: var(--spacing);
  margin-left: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  height: 100%;
}

.full-height-flex-child {
  height: 100%;
  min-height: 0;
}
