:root {
  --color-surface-1: #5eb3f5;
  --color-surface-2: white;
  --color-1: #a0ff92;
  --color-2: #f8cb46;
  --color-3: #fe90e9;
  --color-font: black;
  --spacing: 1rem;
  --spacing-big: 4rem;
  --spacing-max: 8rem;
  --border-radius: 10px;
  font-size: 18px;
  color: var(--color-font);
  --color-scrollbar-thumb: #777;
  --border: 4px solid black;
}

#root {
  height: 100%;
}

html {
  background-color: var(--color-surface-1);
  height: 100%;
  max-height: 100%;
}

body {
  zoom: reset;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  caret-color: transparent;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

.shadow {
  box-shadow: 3px 3px 0 black;
}

.rounded {
  border-radius: var(--border-radius);
}

.descriptive-header {
  text-align: left;
  margin-bottom: var(--spacing);
}

button {
  background: unset;
  border: unset;
  cursor: pointer;
  outline: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7) !important;
  z-index: 10000;
}

input {
  height: max-content;
  border-radius: var(--border-radius);
}

label {
  font-weight: bold;
  align-items: center;
}

input {
  caret-color: black;
  padding-inline: 8px;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

dialog {
  border-radius: var(--border-radius);
  animation: scaleIn 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

* {
  scrollbar-gutter: stable;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: color-mix(in srgb, var(--color-scrollbar-thumb), white 70%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Keep UI at the same scaling, even if UI scaling is enabled.
 * The UI is already quite big, it makes no sense to scale it
 * further */

@media screen and (-webkit-min-device-pixel-ratio: 1.25) {
  body {
    zoom: 0.8;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    zoom: 0.67;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.75) {
  body {
    zoom: 0.57;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    zoom: 0.5;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.25) {
  body {
    zoom: 0.44;
  }
}

/* Keep a minimal size for SVGs so they don't get too small to get rendered
 * for very large scaling */
svg {
  --w: 28px;
  min-width: var(--w);
  min-height: var(--w);
}
