:root {
  --color-base: #5eb3f5;
  box-sizing: border-box;
  --spacing: 1rem;
  --spacing-big: 4rem;
  --spacing-max: 8rem;
}

html {
  background-color: var(--color-base);
  text-align: center;
  color: white;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  caret-color: transparent;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}
