.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--color-surface-2);
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.barsContainer {
  display: flex;
  background-color: var(--color-surface-2);
  gap: 0.75rem;
}

.bar {
  display: grid;
  place-items: center;
  font-size: 3rem;
  font-weight: bold;
  width: 3rem;
  height: 12rem;
  border-radius: 20px;
  border: 4px solid black;
  background-color: var();
  transition: all 0.1s;
}

.barActive {
  background-color: var(--color-2);
  transform: scale(1.2);
}

.display {
  background-color: black;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  border: 4px solid black;
  box-shadow: 4px 4px 0px 0px rgba(251, 191, 36, 1);
}

.bpmValue {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  font-weight: 900;
  min-width: 3ch;
}

.sliderContainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 1rem;
  border-radius: 9999px;
  border: 4px solid black;
  appearance: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: none;
}

.button {
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  border: 4px solid black;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

.button:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  transform: translate(2px, 2px);
}

.buttonStart {
  background-color: var(--color-1);
}

.buttonStop {
  background-color: var(--color-3);
}
