name: bandcorder
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  web_socket_channel: ^3.0.3
  fluttertoast: ^8.2.14
  flutter_svg: ^2.2.0
  http: ^1.5.0
  network_info_plus: ^6.0.2
  path_provider: ^2.1.5
  permission_handler: ^11.3.1
  shared_preferences: ^2.5.3
  provider: ^6.1.5+1
  go_router: ^15.1.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0
  build_runner: ^2.4.0
  analyzer: '>=5.13.0 <7.0.0'
  flutter_lints: ^4.0.0
  flutter_launcher_icons: "^0.14.4"

flutter:
  # Load Material Icons
  uses-material-design: true

  assets:
    - assets/logo.svg
    - assets/desktop_pc.svg
