.recorder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content repeat(4, 1fr);
  gap: var(--spacing);
  grid-template-areas:
    "heading timer"
    "current-file timer"
    "frequency frequency"
    "volume volume"
    "controls controls";
  padding: var(--spacing);
  height: 100%;
}

.heading {
  grid-area: heading;
}

.recorder>* {
  border: 1px solid red;
}

.timer-widget {
  grid-area: timer;
  margin: auto;
}

.current-file {
  grid-area: current-file;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.frequency-card {
  grid-area: frequency;
  display: grid;
  place-items: center;
}

.volume-card {
  grid-area: volume;
  display: grid;
  place-items: center;
}

.controls {
  grid-area: controls;
  display: grid;
  place-items: center;
}
