.recorder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 2fr 2fr 1fr max-content;
  gap: var(--spacing);
  grid-template-areas:
    "heading timer"
    "current-file timer"
    "frequency frequency"
    "volume volume"
    "controls controls";
  padding: var(--spacing);
  height: 100%;
}

.heading {
  text-align: left;
  grid-area: heading;
}

.timer-widget {
  grid-area: timer;
  margin: auto;
}

.current-file {
  font-size: 1.7rem;
  grid-area: current-file;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  height: max-content;
  margin-block: auto;
  gap: 0.7rem;
}

.file-icon {
  margin-top: 0.1em;
  margin-bottom: auto;
}

.frequency-card {
  grid-area: frequency;
  display: grid;
  place-items: center;
}

.volume-card {
  grid-area: volume;
  display: grid;
  place-items: center;
}

.controls {
  grid-area: controls;
  gap: 10px;
  display: flex;
}

.icon-large {
  font-size: 1.7rem;
}

.recorder-btn {
  width: 4rem;
  height: 4rem;
}

.play-btn {
  background: #a0ff92;
}

.pause-btn {
  background: #f8cb46;
}

.abort-btn {
  background: #fe90e9;
}
