.recordings-list {
  display: grid;
  grid-template-rows: max-content 1fr;
  padding: var(--spacing);
  height: 100%;
  list-style-type: none;
}

.recordings {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  min-height: 0;
  padding: 0 var(--spacing) var(--spacing) 0;
}

.no-items {
  display: grid;
  place-items: center;
  height: 100%;
}
