.rename-dialog {
  position: fixed;
  background: var(--color-surface-2);
  padding: var(--spacing);
  margin: auto;
  top: 0;
  bottom: 0;
  /* min-height is needed, because wails does not size the modal
   * height to accomodate all components for some reason.   */
  min-height: 300px;
}

.rename-dialog > * {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.rename-heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rename-close-icon {
  margin-left: auto;
}

.close-btn {
  margin-left: auto;
}

.rename-list {
  display: grid;
  grid-template-columns: max-content 40ch;
  gap: 12px;
  grid-auto-rows: 2rem;
  align-items: center;
  margin-block: 4rem;
}

.save-btn {
  margin-top: auto;
  background: var(--color-1);
  padding-inline: 8rem;
  margin-inline: auto;
  width: max-content;
}
